<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <input type="password" name="passkey" placeholder="Passkey" required>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </body>
</html>